<form action="/payment/results">
  <label for="min">APR</label>
  <input id="min" type="text" placeholder = "E.g. 4.52" name = "user_apr">
  
  <label for="max">Number of years</label>
  <input id="max" type="text" placeholder = "How many years to repay?" name = "user_years">

    <label for="pv">Principal</label>
  <input id="pv" type="text" placeholder = "How much principal?" name = "user_pv">
 
  <button>Calculate monthly payment</button>
</form>
