<form action="/square/results">
  <label for="g">Enter a number</label>
  <input id="g" type="text" placeholder = "What number do you want to square?" name = "number">

  <button>Calculate square</button>
</form>
